.gulp-scss-cache/
.nyc_output/
.DS_Store
.local-chromium
.babelrc
*.swp
*.pyc
~*
zz*

__pycache__/
coverage/
dist/
install/
library/
node_modules/
sessions/
package-lock.json
pnpm-lock.yaml
config_*
ecosystem.config.js
gulpfile.js
main_bundle.js
webpack*
book.md
nohup.out
